@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  width: 100%;
  height: 10vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0rem 4rem;
  font-family: "Poppins", sans-serif;
  color: #333333;
  -webkit-box-shadow: 5px 5px 10px #cecece;
          box-shadow: 5px 5px 10px #cecece;
}

.navbar h1 {
  font-size: 1.8rem;
  width: 15%;
  height: 100%;
}

.navlinks {
  width: 85%;
  height: 100%;
  list-style: none;
  padding-left: 1.25rem;
  font-weight: 500;
}

.navlinks li:nth-of-type(2),
.navlinks li:nth-of-type(3) {
  margin-left: 1.5rem;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.navlinks li:hover a {
  color: #09dca4;
}

.navlinks li:nth-of-type(4) {
  margin-left: auto;
  border: 2px solid #09dca4;
  border-radius: 4px;
  padding: 10px 12px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.navlinks li:nth-of-type(4) a {
  color: #09dca4;
}

.navlinks li:nth-of-type(4):hover {
  background-color: #09dca4;
}

.navlinks li:nth-of-type(4):hover a {
  color: white;
}

.hamburger {
  position: relative;
  top: 0px;
  right: 0px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.hamburger .lines {
  list-style: none;
  background-color: #536dfe;
  margin-top: 6px;
  border-radius: 1px;
  width: 30px;
  height: 3px;
}

.hamburger .lines:nth-of-type(2) {
  width: 20px;
}

.appear {
  height: 100vh;
  width: 60%;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.cta {
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cta-items:nth-of-type(1) {
  width: 100vw;
  height: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cta-items:nth-of-type(2) {
  height: 40%;
}

.cta-items:nth-of-type(2) img {
  width: 100%;
  height: 100%;
}

.cta-text h2 {
  color: #15558d;
  font-size: 2.5rem;
}

.cta-buttons .btn {
  background-color: transparent;
  margin: 0px 10px;
  padding: 12px 15px;
  border: 2px solid #536dfe;
  border-radius: 3px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  outline: none;
}

.cta-buttons .btn a {
  color: #536dfe;
  font-weight: 500;
}

.cta-buttons .btn:hover {
  background-color: #536dfe;
}

.cta-buttons .btn:hover a {
  color: white;
}

.clinic {
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3em 4em;
}

.clinic-child {
  width: 80%;
}

.clinic-child:nth-of-type(1) {
  height: 30%;
}

.clinic-child:nth-of-type(2) {
  height: 60%;
}

.clinic-text {
  text-align: center;
}

.clinic-text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
}

.clinic-text p {
  font-size: 1.2rem;
  color: #a0a0a0;
}

.speicality-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 4px 4px 8px #cecece;
          box-shadow: 4px 4px 8px #cecece;
  border-radius: 50%;
  margin: 10px 10em;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.speicality-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #15558d;
}

.facilities {
  width: 100%;
  height: 70vh;
  padding: 2rem;
}

.facilities-img {
  width: 40%;
  height: 100%;
}

.facilities-img img {
  width: 100%;
  height: 100%;
}

.facilities-content {
  margin-left: 5%;
  width: 60%;
  height: 100%;
}

.facilities-text {
  text-align: center;
}

.facilities-text h2 {
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;
}

.facilities-text p {
  font-size: 1.2rem;
  color: #a0a0a0;
}

.facilities-carousel {
  height: 60%;
}

.facilities-carousel-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
}

.facilities-carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.facilities-carousel-item p {
  text-align: center;
}

.footer {
  height: 60vh;
  width: 100%;
  padding: 2rem 4rem 2rem 4rem;
  background-color: #15558d;
  color: white;
}

.footer-section {
  width: 30%;
  margin-left: 5%;
  height: 80%;
}

.section-one {
  font-family: "Poppins", sans-serif;
  border-right: 1px solid #cecece;
}

.section-one h3 {
  font-size: 2.4rem;
}

.section-one .lang-select span {
  color: #09dca4;
}

.section-one .lang-select span:nth-of-type(2) {
  margin-left: 15px;
}

.section-one .lang-select span:hover {
  color: white;
}

.section-two,
.section-three {
  margin-top: 20px;
}

.section-two h3,
.section-three h3 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}

.section-two {
  border-right: 1px solid #cecece;
}

.section-two ul li,
.section-three ul li {
  list-style: none;
  margin: 20px 0px;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  font-size: 1rem;
}

.section-two ul li:hover,
.section-three ul li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section-two ul li:hover a,
.section-three ul li:hover a {
  color: #09dca4;
}

.section-two ul li a,
.section-three ul li a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0rem 2rem;
  }
  .navbar h1 {
    width: 100%;
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
    font-size: 1.2rem;
  }
  .navlinks {
    display: none;
  }
  .cta-text h2 {
    font-size: 2rem;
  }
  .clinic {
    padding: 1rem 2rem;
  }
  .clinic-child {
    width: 100%;
  }
  .clinic-text h2 {
    font-size: 1.8rem;
  }
  .clinic-text p {
    font-size: 1rem;
  }
  .facilities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15em;
  }
  .facilities-img {
    width: 100%;
  }
  .facilities-text {
    margin-top: 2em;
  }
  .facilities-text h2 {
    font-size: 1.8rem;
  }
  .facilities-text p {
    font-size: 1rem;
  }
  .facilities-content {
    width: 100%;
  }
  .facilities-carousel-item {
    margin-top: 5em;
  }
  .facilities-carousel-item img {
    width: 80% !important;
    height: 80% !important;
  }
  .footer {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section {
    width: 100%;
  }
  .section-one,
  .section-two {
    border-right: none;
  }
  .section-two,
  .section-three {
    border-top: 1px solid #cecece;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.corona-cta {
  background-image: url("../assets/images/corona-cta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-heading {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2.4rem;
}

.corona-blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  margin: 0 1em;
  margin: 3em 1em;
}

.corona-blog > a {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.corona-blog > a:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.corona-blog .blog-post {
  -webkit-box-shadow: 15px 15px 60px #d9d9d9, -15px -15px 60px #ffffff;
          box-shadow: 15px 15px 60px #d9d9d9, -15px -15px 60px #ffffff;
  border-radius: 20px;
  cursor: pointer;
  height: 400px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.corona-blog .blog-post .blog-head img {
  height: 25vh;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.corona-blog .blog-post .blog-body {
  padding: 20px;
}

.corona-blog .blog-post .blog-body .blog-title {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.corona-blog .blog-post .blog-body .blog-content {
  font-size: 0.9em;
}

@media only screen and (max-width: 992px) {
  .corona-blog {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .corona-blog {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1em;
  }
  .blog-heading {
    font-size: 1.8em;
  }
}
/*# sourceMappingURL=index.css.map */