@import "./global";
@import "./variables";

.modal {
  font-family: $heading-font;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  .modal-wrapper {
    text-align: center;
    background-color: #fff;
    color: #000;
    margin: 0 auto;
    margin-top: 10vh;
    width: 80vw;
    padding: 20px;
    border-radius: 10px;
    z-index: 10000;

    .modal-head {
      .modal-header-image {
        img {
          height: 100px;
          width: 100px;
        }
      }

      .modal-title {
        font-size: 1.3em;
      }
    }

    hr {
      margin: 1em 0;
    }

    .modal-body {
      .modal-content {
        font-size: 1.1em;
      }
    }
  }
}
