@import "./variables.scss";
@import "./global.scss";
// common styles

// Navbar
.navbar {
  width: 100%;
  flex-direction: row;
  padding: 1rem 4rem;
  font-family: $heading-font;
  color: $primary-black;
  box-shadow: 5px 5px 10px $primary-lightgrey;

  h1 {
    font-size: 1.8rem;
    width: 15%;
    height: 100%;
  }
}
.navlinks {
  width: 85%;
  height: 100%;
  list-style: none;
  padding-left: 1.25rem;
  font-weight: 500;
  li {
    margin-left: 30px;
  }
  li:hover {
    a {
      color: $primary-green;
    }
  }
  li a {
    display: block;
  }
  li:nth-of-type(2) {
    a {
      color: red;
    }
  }
  .appointment {
    margin-left: auto;
    border: 2px solid $primary-green;
    border-radius: 4px;
    padding: 10px 12px;
    transition: 0.2s all ease;
    a {
      color: $primary-green;
    }
  }
  .appointment:hover {
    background-color: $primary-green;
    a {
      color: white;
    }
  }
}

.hamburger {
  display: none;
  position: absolute;
  top: 0px;
  right: 1rem;
  cursor: pointer;
  flex-direction: column;
  z-index: 1;

  .lines {
    list-style: none;
    background-color: $secoundary-blue;
    margin-top: 5px;
    border-radius: 1px;
    width: 30px;
    height: 3px;
  }
  .lines:nth-of-type(2) {
    width: 20px;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .navbar {
    padding: 0rem 2rem;
    flex-direction: column;

    h1 {
      width: 100%;
      transform: translateX(1.5rem);
      font-size: 1.2rem;
    }
  }
  .hamburger {
    display: flex;
  }
  .navlinks {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;

    li {
      width: 100%;
      text-align: center;
      margin-left: 0;
      border-radius: 4px;
      padding: 10px 12px;
      transition: 0.2s all ease;
    }
    li:hover {
      background-color: $primary-green;
      a {
        color: white;
      }
    }
  }
  .navlinks.active {
    display: flex;
  }
}

//cta
.cta {
  height: 70vh;
  flex-direction: column;
}
.cta-items:nth-of-type(1) {
  width: 100vw;
  height: 60%;
  flex-direction: column;
}
.cta-items:nth-of-type(2) {
  height: 40%;
  img {
    width: 100%;
    height: 100%;
  }
}
.cta-text {
  h2 {
    color: $primary-blue;
    font-size: 2.5rem;
  }
}
.cta-buttons {
  .btn {
    background-color: transparent;
    margin: 0px 10px;
    padding: 12px 15px;
    border: 2px solid $secoundary-blue;
    border-radius: 3px;
    transition: 0.2s all ease;
    outline: none;

    a {
      color: $secoundary-blue;
      font-weight: 500;
    }
  }

  .btn:hover {
    background-color: $secoundary-blue;

    a {
      color: white;
    }
  }
}

// clinic section
.clinic {
  height: 80vh;
  flex-direction: column;
  padding: 3em 4em;

  &-child {
    width: 80%;
  }
  &-child:nth-of-type(1) {
    height: 30%;
  }
  &-child:nth-of-type(2) {
    height: 60%;
  }
  &-text {
    text-align: center;

    h2 {
      font-family: $heading-font;
      font-size: 2.4rem;
    }
    p {
      font-size: 1.2rem;
      color: rgb(160, 160, 160);
    }
  }
}

.speicality-item {
  flex-direction: column;
  width: 200px;
  height: 200px;
  box-shadow: 4px 4px 8px $primary-lightgrey;
  border-radius: 50%;
  margin: 10px 10em;
  transition: 0.2s all ease-in;
}
.speicality-item:hover {
  transform: scale(1.1);
  color: $primary-blue;
}

//Facilities
.facilities {
  width: 100%;
  height: 70vh;
  padding: 2rem;

  &-img {
    width: 40%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    margin-left: 5%;
    width: 60%;
    height: 100%;
  }

  &-text {
    text-align: center;

    h2 {
      font-size: 2.4rem;
      font-family: $heading-font;
    }
    p {
      font-size: 1.2rem;
      color: rgb(160, 160, 160);
    }
  }

  &-carousel {
    height: 60%;

    &-item {
      flex-direction: column;
      margin-left: 40px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      p {
        text-align: center;
      }
    }
  }
}

//footer
.footer {
  height: 60vh;
  width: 100%;
  padding: 2rem 4rem 2rem 4rem;
  background-color: $primary-blue;
  color: white;

  &-section {
    width: 30%;
    margin-left: 5%;
    height: 80%;
  }
}
.section-one {
  font-family: $heading-font;
  border-right: 1px solid $primary-lightgrey;

  h3 {
    font-size: 2.4rem;
  }

  .lang-select {
    span {
      color: $primary-green;
    }
    span:nth-of-type(2) {
      margin-left: 15px;
    }
    span:hover {
      color: white;
    }
  }
}
.section-two,
.section-three {
  margin-top: 20px;

  h3 {
    font-size: 1.8rem;
    font-family: $heading-font;
  }
}
.section-two {
  border-right: 1px solid $primary-lightgrey;
}
.section-two,
.section-three {
  ul {
    li {
      list-style: none;
      margin: 20px 0px;
      transition: 0.2s all ease-out;
      font-size: 1rem;

      &:hover {
        transform: scale(1.05);

        a {
          color: $primary-green;
        }
      }

      a {
        color: #fff;
      }
    }
  }
}

// responsive section

@media only screen and (min-width: $breakpoint-tablet) {
  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  //navbar
  .navbar {
    padding: 0rem 2rem;
    h1 {
      width: 100%;
      transform: translateX(1.5rem);
      font-size: 1.2rem;
    }
  }
  .navlinks {
    display: none;
  }
  .cta-text {
    h2 {
      font-size: 2rem;
    }
  }

  //Clinic Specialities
  .clinic {
    padding: 1rem 2rem;

    &-child {
      width: 100%;
    }
  }
  .clinic-text {
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1rem;
    }
  }

  //Facilities
  .facilities {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15em;

    &-img {
      width: 100%;
    }

    &-text {
      margin-top: 2em;

      h2 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1rem;
      }
    }

    &-content {
      width: 100%;
    }

    &-carousel {
      &-item {
        margin-top: 5em;

        img {
          width: 80% !important;
          height: 80% !important;
        }
      }
    }
  }

  //footer
  .footer {
    height: 100%;
    flex-direction: column;

    &-section {
      width: 100%;
    }
  }
  .section-one,
  .section-two {
    border-right: none;
  }
  .section-two,
  .section-three {
    border-top: 1px solid $primary-lightgrey;
  }
}
