//fonts
$heading-font: 'Poppins', sans-serif;
$body-font: 'Roboto', sans-serif;

//colors
$primary-blue: #15558d;
$secoundary-blue: #536DFE;
$primary-black: #333333;
$primary-green: #09dca4;

//responsive breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;