.time-slots {
  margin-top: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-gap: 1em;
}

.time-slots .slot {
  position: relative;
  height: 100px;
  width: 200px;
  border-radius: 5px;
  padding: 10px;
}

.time-slots .slot.available {
  background-color: #09dca4;
  color: #034936;
  cursor: pointer;
}

.time-slots .slot.available:hover {
  background-color: #22f6be;
}

.time-slots .slot.unavailable {
  background-color: #e0283d;
  color: #fff;
  pointer-events: none;
}

.time-slots .slot.break {
  background-color: #fd6a02;
  color: #fff;
  pointer-events: none;
}

.time-slots .slot .time {
  font-size: 1.3em;
}

.time-slots .slot .status {
  font-size: 0.9em;
}

.time-slots .slot button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
}

.for-date {
  margin: 2em 0 0 2em;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  .time-slots {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .time-slots {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.form-wrapper {
  position: relative;
  min-height: 85vh;
}

.form-wrapper > div {
  display: none;
}

.form-wrapper > div.active {
  display: block;
}

.form-wrapper .form {
  position: absolute;
  top: 5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  justify-items: center;
}

.form-wrapper .form .form-img img {
  height: 400px;
  width: 560px;
}

.form-wrapper .form .form-content {
  width: 60%;
}

.form-wrapper .form .form-content button {
  font-size: 1em;
  background-color: #536dfe;
  border: none;
  border-radius: 2px;
  color: #fff;
  width: 100%;
  padding: 15px 45px;
  cursor: pointer;
  outline: none;
}

.selected-slot {
  width: 50vw;
  text-align: center;
  margin: auto;
}

.selected-slot span {
  font-weight: bold;
}

.section-three-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-three-buttons button {
  font-size: 1em;
  background-color: #536dfe;
  border: none;
  border-radius: 2px;
  color: #fff;
  width: 300px;
  padding: 15px 45px;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .form {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    width: 140vw !important;
  }
  .form .form-img {
    display: none;
  }
  .section-three-buttons {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}
/*# sourceMappingURL=index.css.map */