@import "../assets/css/variables";

.time-slots {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-gap: 1em;

  .slot {
    position: relative;
    height: 100px;
    width: 200px;
    border-radius: 5px;
    padding: 10px;

    &.available {
      background-color: $primary-green;
      color: darken($primary-green, 30%);
      cursor: pointer;

      &:hover {
        background-color: lighten($primary-green, 10%);
      }
    }

    &.unavailable {
      background-color: #e0283d;
      color: #fff;
      pointer-events: none;
    }

    &.break {
      background-color: #fd6a02;
      color: #fff;
      pointer-events: none;
    }

    .time {
      font-size: 1.3em;
    }

    .status {
      font-size: 0.9em;
    }

    button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background: none;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 4px;
      padding: 5px 10px;
      cursor: pointer;
      outline: none;
    }
  }
}

.for-date {
  margin: 2em 0 0 2em;
  font-family: $heading-font;
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  .time-slots {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .time-slots {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-wrapper {
  position: relative;

  & > div {
    display: none;

    &.active {
      display: block;
    }
  }

  .form {
    position: absolute;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;

    .form-img {
      img {
        height: 400px;
        width: 560px;
      }
    }

    .form-content {
      width: 60%;

      button {
        font-size: 1em;
        background-color: $secoundary-blue;
        border: none;
        border-radius: 2px;
        color: #fff;
        width: 100%;
        padding: 15px 45px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

.selected-slot {
  width: 50vw;
  text-align: center;
  margin: auto;

  span {
    font-weight: bold;
  }
}

.section-three-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    font-size: 1em;
    background-color: $secoundary-blue;
    border: none;
    border-radius: 2px;
    color: #fff;
    width: 300px;
    padding: 15px 45px;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 768px) {
  .form {
    display: flex !important;
    justify-content: center !important;
    width: 140vw !important;

    .form-img {
      display: none;
    }
  }

  .section-three-buttons {
    flex-direction: column !important;
    align-items: center !important;
  }
}
